<article class="projects col-md-12">
  <section class="row list-projects-wrapper">
    <div class="projects-grid-wrapper"
      [class.col-md-12]="!isGridView"
      [class.center.col-md-8]="isGridView"
    >
      <div class="row">
        <template ngFor let-project [ngForOf]="projects$ | async" let-i="index">
            <project-item [project]="project"
                          [ngClass]="isGridView ? ['col-md-8', 'col-md-offset-2'] : ['col-md-4']"
            ></project-item>
            <div *ngIf="(i+1) % 3 == 0" class="clearfix"></div>
        </template>
      </div>
    </div>
  </section>
</article>

